@tailwind base;
@tailwind components;
@tailwind utilities;

[class="light"] {
  --background: #ffffff;
  --foreground: #0d0e0f;
}

[class="dark"] {
  --background: #0d0e0f;
  --foreground: #f2f4f6;
}

@layer base {
  :root {
    --radius: 0.5rem;
  }

  body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--background);
    color: var(--foreground)
  }
}
